/* 
    Created on : Oct 22, 2015, 5:34:50 AM
    Author     : Dwikky Maradhiza
*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto','sans-serif';
}

#map {
    height: 100%;
}

.floating-panel {
    width:100%;
    position: absolute;
    z-index: 5;
    text-align: center;
    line-height: 40px;
}

.menu {
    bottom: 0;
    background-color: #FFF;
}
.menu #location{
    width: 100%;
    height: 40px;
    border: none;
}
.menu .search{
    border-right: 1px solid #FFF;
}
.menu .search,.menu .history{
    background: #55ACEE;
    color: #fff;
    transition: ease-in-out 0.2s;
}
.menu .search:hover,.menu .history:hover{
    background: #2C9BEA;
    transition: ease-in-out 0.2s;
}
.menu button{
    height: 100%;
    width: 100%;
    color: #fff;
    border: none;
    transition: ease-in-out 0.2s;
    background: transparent;
}
.search-title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    color: #55ACEE;
    top: 10px;
    text-shadow: 1px 1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, -1px -1px 0 #FFF;
}

/* loader */
#loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    background: rgba(255,255,255,0.5);
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -31px;
    margin-left: -31px;
    z-index: 100;
}

@media screen and (max-width: 767px) {
    .menu .search{
        border-bottom: 1px solid #FFF;
        border-right: none;
    }
    .search-title {
        font-size: 20px;
    }
}